modules = ["nodejs-20", "web", "postgresql-16"]
[agent]
expertMode = true
integrations = ["javascript_database:1.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["pnpm", "run", "start"]
build = ["pnpm", "run", "build"]

[userenv]

[userenv.shared]
NEXT_PUBLIC_SUPABASE_URL = "https://boodwpdbinacuhwwvtuq.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY = "sb_publishable_5nDvWEkLlTk3h9LP9kDpDw_mBqboDqg"
SUPABASE_SERVICE_ROLE_KEY = "sb_secret_s9ZCfyDpCw-k7n_3dt3auw_CaIoikcl"
NEXT_PUBLIC_RPC_URL = "https://rpc-amoy.polygon.technology"
NEXT_PUBLIC_BLOCKCHAIN_NETWORK = "amoy"
NEXT_PUBLIC_CONTRACT_ADDRESS = "0x7Ec23f56591d0246bc1a3358916809174b70a76E"
SMTP_HOST = "smtp.gmail.com"
SMTP_PORT = "587"
SMTP_USER = "minhnhan26112000@gmail.com"
NEXT_PUBLIC_APP_URL = "https://de0881dc-b596-4dd4-a409-61d9a865ad52-00-3dhcunmmm3yaf.sisko.replit.dev"
